PORT=3001
HOST=0.0.0.0
MONGO_URI=mongodb://localhost:27017/skilllink_db
JWT_SECRET=YOUR_SUPER_SECRET_KEY_HERE
KHALTI_SECRET_KEY=YOUR_KHALTI_SECRET_KEY
KHALTI_VERIFY_URL=https://khalti.com/api/v2/payment/verify/
ESEWA_SECRET_KEY=YOUR_ESEWA_SECRET_KEY
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_VERIFY_URL=https://rc-epay.esewa.com.np/api/epay/transaction/status/
FRONTEND_URL=http://localhost:3000
